@font-face {
    font-family: "xirod";
    src: url('../fonts/xirod.ttf') 
    format('TrueType')
    }
    /* =================================
        .container {
        width: 800px;
        height: 600px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
 ================================== */

              @keyframes mover-imagen {
        from {
          transform: translateX(130px);
        }
        to {
          transform: translateX(-40px);
        }
      }
      .mover {
          animation: mover-imagen infinite linear;
          animation-duration: 1s;
          width: 30px;
          height: 30px;
          justify-content: center;
          align-items: center;
          margin: auto;
          position: absolute;
          margin: 2px;
      }
      .delaymover {
        animation: mover-imagen infinite linear;
        animation-delay: 500ms;
        animation-duration: 1s;
        width: 30px;
        height: 30px;
        margin: auto;
        position: absolute;
        margin: 2px;
      }



body {
font-family: xirod ;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
height: 100%;
padding: 0;
margin: 0;
font-size: 1em;
box-sizing: border-box;
background: linear-gradient(90deg, #243ba0 0%, #93F9B9 100%);
color: #fff;
}

html {
box-sizing: border-box;
height: 100%;
}

small {
opacity: .6;
}

h1 {
color: #fff;
text-shadow: 2px 2px 2px rgb(0, 0, 0, 0.6);
text-align: center;
margin-bottom: 0;
}

.pacman {
position: relative;
margin-bottom: 15px;
}
.pacman > div:nth-child(2) {
animation: balls 1s -0.99s infinite linear; 
}
.pacman > div:nth-child(3) {
animation: balls 1s -0.66s infinite linear; 
}
.pacman > div:nth-child(4) {
animation: balls 1s -0.33s infinite linear; 
}
.pacman > div:nth-child(5) {
animation: balls 1s 0s infinite linear; 
} 
.pacman > div:nth-child(1) {
width: 0px;
height: 0px;
border: 80px solid rgb(255, 252, 51);
border-right: 80px solid transparent;
border-radius: 80px;
animation: rotate_pacman_half_up 0.5s 0s infinite;
position: relative;
left: -60px;
}
.pacman > div:nth-child(2) {
width: 0px;
height: 0px;
border: 80px solid rgb(255, 252, 51);
border-right: 80px solid transparent;
border-radius: 80px;
animation: rotate_pacman_half_down 0.5s 0s infinite;
margin-top: -160px;
position: relative;
left: -60px; 
}

@keyframes rotate_pacman_half_up {
0% { transform: rotate(270deg); }
50% { transform: rotate(360deg); }
100% { transform: rotate(270deg); } 
}

@keyframes rotate_pacman_half_down {
0% { transform: rotate(90deg); }
50% { transform: rotate(0deg); }
100% { transform: rotate(90deg); } 
}