/*
    Autores:
        Óscar "CHEPAS" Perdiz; 
        Alfonso "eskere" guti; 
        Aarón "canserbero" Boullosa;
*/
@font-face {
    font-family: "xirod";
    src: url('../fonts/xirod.ttf') 
    format('TrueType')
    }

* {
    font-family: xirod;
    color: rgb(60, 255, 0);
}
div.inicio {
    margin: 20px auto;
    background-color: #ff0000a1;
    color: #000000;
    padding: 10px 20px;
    border-radius:5px;
    box-shadow: 0px 0px 6px 0px rgba(255, 0, 0, 0.5);
}

div.inicio img.izquierda {
    float: left;
    margin-right: 15px;
}
