/*
    Autores:
        Óscar "CHEPAS" Perdiz; 
        Alfonso "eskere" guti; 
        Aarón "canserbero" Boullosa;
*/

/*FUENTES*/
@font-face {
    font-family: "xirod";
    src: url('../fonts/xirod.ttf') 
    format('TrueType')
    }

@font-face {
    font-family: "goodtimes";
    src: url('../fonts/GTrD.otf') 
    format('OpenType')
    }
/*ETIQUETAS*/  
* {
    font-family: goodtimes;
    color: #2e5e40;
}
h1 {
    color: #3cff00;
    font-family: xirod;
}
/*HEADER*/
div.inicio {
    margin: 20px auto;
    background-color: #1e491e;
    color: #000000;
    padding: 10px 20px;
    border-radius:5px;
    box-shadow: 0px 0px 6px 0px rgba(255, 0, 0, 0.5);
}

div.inicio img.izquierda {
    float: left;
    margin-right: 15px;
}

#div-cookies {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    background-color: white;
    box-shadow: 0px -5px 15px gray;
    padding: 7px;
    text-align: center;
    z-index: 99;
}